/*-----------------------------------------------------------------------------

Screen Stylesheet

version:   	1.0
date:      	30/11/18
author:		lamarena
email:     	lazeapostolski@gmail.com

-----------------------------------------------------------------------------*/



.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}

/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;
	z-index: 0;
}

.tp-banner{
	width:100%;
	position:relative;
}
/*.tp-banner-3{*/
	/*max-height: 800px !important;*/
	/*height: 800px !important;*/
/*}*/
.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}

